@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;900&display=swap');
/* All reusable styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
}
.container {
    padding: 0 230px;
    max-width: 1440px;
    margin: auto;
}

/* Header styles */
header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1600px;
    background-color: #eaeaea99;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
nav > h3 {
    font-size: 28px;
    color:#151414;
}
nav > h3 > span {
    color: #F15B22;
    font-size: 26px;
}
.nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link a {
    margin-left: 40px;
    color: #151414;
    font-size: 20px;
    font-weight: bold;
}
.banner-container {
    display: flex;
    justify-content: right;
}
.banner-text {
    text-align: right;
    width: 46%;
}
.banner-text h1 {
    color:#151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-top: 120px;
}
.banner-text p {
    color:#444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0 30px;
}
.banner-text > .btn {
    margin-bottom: 120px;
}

/* My failure section styles */
.my-failure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}
.failure-column {
    margin: 30px 0;
    width: 50%;
}
.failure-column img {
    max-width: 525px;
}
.failure-column h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
}
.failure-column p {
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 16px;
}
.failure-column li{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

/* My plans section styles */
.my-plans {
    margin-bottom: 100px;
}
.my-plans > h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
    text-align: center;
}
.plans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.plans {
    text-align: center;
}
.plans h3 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 8px;
}
.plans-box {
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 135px;
    padding: 60px 65px;
}
.plans-box h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
    margin-bottom: 24px;
}
.plans-box .btn {
    background-color: #FFF;
    color: #F15B22;
    padding: 21px 36px;
}
